<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- create an initializer extension to initialize preferences -->
   <extension
      point="org.eclipse.equinox.preferences.preferences">
	   <initializer
	         class="com.kcsl.sidis.preferences.SIDISPreferences">
	   </initializer>
	</extension>
	
	<!-- create a preferences menu item for sidis analysis -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.kcsl.sidis.ui.SIDISPreferencesPage"
            id="com.kcsl.sidis.ui.preferences"
            name="SIDIS Analysis"
            category="com.ensoftcorp.open.commons.ui.toolbox.preferences">
      </page>
   </extension>

	<!-- add sidis smart views -->
    <extension
         point="com.ensoftcorp.atlas.ui.smartViewScript">
      <script
            class="com.kcsl.sidis.dis.ui.smart.ControlFlowHeatMapSmartView">
      </script>
   </extension>
    
    <!-- extension for Heat Map Debugger view -->
	<extension
         point="org.eclipse.ui.views">
      <view
            category="com.ensoftcorp.open.commons.views.categories.toolbox"
            class="com.kcsl.sidis.ui.DebugHeatMap"
            id="com.kcsl.sidis.ui.debugheatmap"
            name="Debug Heat Map">
      </view>
   </extension>
  
</plugin>
