<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- add sidis smart views -->
    <extension
         point="com.ensoftcorp.atlas.ui.smartViewScript">
      <script
            class="com.kcsl.sidis.dis.ui.smart.ControlFlowHeatMapSmartView">
      </script>
   </extension>
    
    <!-- extension for Heat Map Debugger view -->
	<extension
         point="org.eclipse.ui.views">
      <view
            category="com.ensoftcorp.open.commons.views.categories.toolbox"
            class="com.kcsl.sidis.ui.DebugHeatMap"
            id="com.kcsl.sidis.ui.debugheatmap"
            name="Debug Heat Map">
      </view>
   </extension>
  
</plugin>
